version: '3'

services:

    # phpmyadmin:
    #     image: phpmyadmin/phpmyadmin
    #     ports:
    #         - 8336:80
    #     environment:
    #         PMA_HOST: db
    #         PMA_USER: root
    #         PMA_PASSWORD: ${MYSQL_ROOT_PASSWORD}

    # varnish:
    #     image: emgag/varnish:5.2.1
    #     volumes:
    #         - ./configs/magento-varnish.vcl:/etc/varnish/default.vcl:ro

    # redis:
    #     image: redis

    # elasticsearch:
    #     image: elasticsearch:6.8.6

    # mailcatcher:
    #     image: schickling/mailcatcher
    #     ports:
    #         - 1080:1080
