upstream fastcgi_backend {
    server  app:9000;
}

server {
    listen {{ .Env.MAGENTO_PORT }}  default_server;
    root /app;

    location / {
        index   index.html  index.php;
        try_files $uri $uri/ @handler;
    }

    ## These locations would be hidden by .htaccess normally
    location /app/                { deny all; }
    location /includes/           { deny all; }
    location /lib/                { deny all; }
    location /media/downloadable/ { deny all; }
    location /pkginfo/            { deny all; }
    location /report/config.xml   { deny all; }
    location /var/                { deny all; }

    ## Disable .htaccess and other hidden files
    location ~ /\. {
        deny all;
        access_log off;
        log_not_found off;
    }

    location @handler {
        rewrite / /index.php;
    }

    location ~ \.php/ {
        rewrite ^(.*\.php)/ $1 last;
    }

    location ~ \.php$ {
        if (!-e $request_filename) {
            rewrite / /index.php last;
        }

        expires         off;
        fastcgi_pass    fastcgi_backend;
        include         fastcgi.conf;
        fastcgi_param   SERVER_PORT {{ .Env.HTTP_EXTERNAL_PORT }};
    }
}
